/* You can add global styles to this file, and also import other style files */

/* Pour les notifications (couleur custom) */
.notifier__notification--custom {
  background-color: #6F6E5C;
  color: #E8E6C0;
}

.notifier__notification--custom .notifier__notification-button-icon {
  fill: #E8E6C0;
}
