:host {
  display: flex;
  flex-direction: column;
}

.menu {
  padding: auto;
  border-radius: 50px;
  position : relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  border: 3px solid #6F6E5C;
  margin: 1%;
  place-content: space-around space-around;
}

.rowMenu {
  padding: auto;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  box-sizing: border-box;
  margin: 3% auto;
  place-content: space-around;
}

.columnMenu {
  padding: 4% 5%;
  border-radius: 20px;
  text-align: left;
  display: flex;
  transition: 0.2s;
  flex-direction: column;
  align-content: center;
  box-sizing: unset;
  height: 105%;
  width: 120%;
  border: 3px solid #96957c;
  margin: auto 3%;
}

.columnMenu:hover{
  background-color: #f2f0d1;
  border: 3px solid #6f6e5c;
}

.component{
  font-family: Courier, monospace;
  margin : 0.8%;
  outline: 0;
}

.select-style {
  background-color: #6F6E5C;
  font-family: Courier, monospace;
  margin : 0.5%;
  color: #E8E6C0;
  outline: 1px #535243;
  padding: 0;
  border-radius: 3px;
  width: 98%;
  overflow: fragments;
  position: relative;
}

.button {
  background-color: #6F6E5C;
  border-radius: 20px;
  border: 2px solid #E8E6C0;
  color: #E8E6C0;
  padding: 1% 3%;
  text-align: center;
  font-family: Courier, monospace;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  margin: auto 3%;
}
.button:hover{
  background-color: #a3a286;
  padding:1% 4%;
  letter-spacing: 1px;
  color: #535243;
  margin: auto 1.8%;
}
.button:active{
  background-color: #E8E6C0;
  border: 2px solid #6F6E5C;
  color: #6F6E5C;
}

.button:disabled {
  background: #ccc;
}
.button:disabled:hover {
  background: #ccc;
  padding: 1% 3%;
  color: #E8E6C0;
  letter-spacing: 0;
  margin: auto 3%;
}


/* Boutons de couleur */

.colorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.colorButtonContainer {
  height: 45px;
  width: 45px;
  display: flex;
}

.colorButton {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: auto;
}

.colorButton:hover {
  cursor: pointer;
}

.colorButton.black {
  background-color: black;
}

.colorButton.white {
  background-color: white;
}

.colorButton.black.selected {
  border: 5px solid #6F6E5C;
  height: 45px;
  width: 45px;
}

.colorButton.white.selected {
  border: 5px solid #6F6E5C;
  height: 45px;
  width: 45px;
}
