<form [formGroup]="playersData" (ngSubmit)="onSubmit()">

  <div formGroupName="player1">

    <select id="player1Type" formControlName="player1Type">
      <option value="Joueur">Joueur</option>
      <option value="IA">IA</option>
    </select>

    <input id="player1Name"
           formControlName="player1Name"
           type="text"
           [hidden]="playersData.get('player1').get('player1Type').value === 'IA'"
           [required]="playersData.get('player1').get('player1Type').value === 'Joueur'"/>

    <select id="player1AILevel"
            formControlName="player1AILevel"
            [hidden]="playersData.get('player1').get('player1Type').value === 'Joueur'"
            [required]="playersData.get('player1').get('player1Type').value === 'IA'">
      <option>Noob</option>
      <option>Starting</option>
      <option>Progressive</option>
    </select>

  </div>

  <!-- Vérifier si cases du nom non remplies ??
  Mettre un !profileForm.valid-->
  <div>
    <button class="button" type="submit" [disabled]="!playersData.valid">Jouer</button>
    <button class="button" (click)="onQuitClicked()">Quitter</button>
  </div>

  <p>
    Form status : {{playersData.status}}
  </p>

</form>
