:host {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #6F6E5C;
  border-radius: 20px;
  border: 2px solid #E8E6C0;
  color: #E8E6C0;
  padding: 15px 32px;
  text-align: center;
  font-family: Courier, monospace;
  display: inline-block;
  font-size: 18px;
  margin: 10px auto;
  cursor: pointer;
  outline: 0;
}
.button:hover{
  background-color: #a3a286;
}
.button:active{
  background-color: #E8E6C0;
  border: 2px solid #6F6E5C;
  color: #6F6E5C;
}
