<div class="board">

  <div class="line" *ngFor="let y of [6,5,4,3,2,1,0]">

    <div class="cell classic"
         #cells
         *ngFor="let x of [0,1,2,3,4,5,6]"
         (click)="cellClicked($event)"
         [attr.data-x] = x
         [attr.data-y]= y>

      <div class="piece"
           *ngIf="isPresentPiece(x, y) !== 0"
           [ngStyle]="{'background-color': isPresentPiece(x,y) === 1 ? (data.game.player1.color ? '#6F6E5C' : 'white') : (data.game.player2.color ? '#6F6E5C' : 'white')}"
           [attr.data-x] = x
           [attr.data-y]= y>
        <div class="ball" *ngIf="isPresentBall(x,y)" [attr.data-x] = x [attr.data-y]= y></div>
      </div>

      <div></div>
    </div>

  </div>
</div>
