<div class="board">

  <div class="line" *ngFor="let y of [6,5,4,3,2,1,0]">

    <div class="cell"
      #cells
      *ngFor="let x of [0,1,2,3,4,5,6]"
      [attr.data-x] = x
      [attr.data-y]= y
      (click)="cellClick($event)">
    </div>

    <div class="piece" #pieces *ngFor="let piece of data.game.player1.pieces"
      [ngStyle]="{'background-color': data.game.player1.color ? '#6F6E5C' : 'white'}"
      [style.left.px]="piece.tile.x * 120 + 10" [style.top.px]="(6 - piece.tile.y) * 120 + 10" [attr.data-x] = piece.tile.x [attr.data-y]="piece.tile.y" (click)="pieceClick($event)">
    </div>

    <div class="piece" #pieces *ngFor="let piece of data.game.player2.pieces"
      [ngStyle]="{'background-color': data.game.player2.color ? '#6F6E5C' : 'white'}"
      [style.left.px]="piece.tile.x * 120 + 10" [style.top.px]="(6 - piece.tile.y) * 120 + 10" [attr.data-x] = piece.tile.x [attr.data-y]="piece.tile.y" (click)="pieceClick($event)">
    </div>

    <div class="ball" #ballPlayer1
         [style.left.px]="data.game.player1.ball.piece.tile.x * 120 + 30"
         [style.top.px]="(6 - data.game.player1.ball.piece.tile.y) * 120 + 30" [attr.data-x] = data.game.player1.ball.piece.tile.x [attr.data-y]="data.game.player1.ball.piece.tile.y" (click)="ballClick($event)">
    </div>

    <div class="ball" #ballPlayer2
         [style.left.px]="data.game.player2.ball.piece.tile.x * 120 + 30"
         [style.top.px]="(6 - data.game.player2.ball.piece.tile.y) * 120 + 30" [attr.data-x] = data.game.player2.ball.piece.tile.x [attr.data-y]="data.game.player2.ball.piece.tile.y" (click)="ballClick($event)">
    </div>

  </div>
</div>
