div {
  --size-cell: 120px;
  --border-cell: 5px;
  --color-cell: #E8E6C0;
  --border-color-cell : black;
  --nb-cell : 7;
}

.board {
  box-sizing: border-box;
  position: relative;
  width: calc((var(--size-cell)) * var(--nb-cell)); /* Pourquoi pas la taille de la bordure dedans ??*/
  height: calc(var(--size-cell) * var(--nb-cell));  /* Pourquoi pas la taille de la bordure dedans ??*/
  z-index: 1;
}

.cell {
  box-sizing: border-box;
  border: var(--border-cell) solid var(--border-color-cell);
  background-color: var(--color-cell);
  width: var(--size-cell);
  height: var(--size-cell);
  float: left;
  padding: 0;
  margin: 0;
}

.piece {
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  background-color: black;
  width: calc(var(--size-cell) - 20px);
  height: calc(var(--size-cell) - 20px);
  border-radius: calc( (var(--size-cell) - 20px) / 2);
  z-index: 2;
  padding: 0;
  margin: 0;
}

.ball {
  background-color: #E8E6C0;
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  width: calc(var(--size-cell) - 60px);
  height: calc(var(--size-cell) - 60px);
  border-radius: calc( (var(--size-cell) - 60px) / 2);
  z-index: 3;
  padding: 0;
  margin: 0;
}
