<!--<div class="button" (click)="newPvPClicked()">newPvP</div>
<div class="button" (click)="startClicked()">start</div>-->


<div class="menu">
  <img src="https://image.noelshack.com/fichiers/2019/49/2/1575377708-logo.png"
       height="232"
       width="546"
       alt="[Diaballik]"
  />
  <div class="underMenu">
    <b><div style = "text-align: justify; font-family : Courier, monospace; font-size : 35px; color: #6F6E5C;">Tour {{data.game.turnCount}}</div></b>
    <div class="imageButton"><img
      alt="Prochain tour"
      (click)="endTurnClicked()"
      height="35"
      src="https://image.noelshack.com/fichiers/2019/49/2/1575377708-bouton-tour.png"
      width="35"></div>
  </div>
  <b><div style = "text-align: justify; font-family : Courier, monospace; font-size : 35px; color: #6F6E5C;">{{data.game.currentPlayer - 1 ? data.game.player2.name : data.game.player1.name}}</div></b>
  <b><div style = "text-align: justify; font-family : Courier, monospace; font-size : 35px; color: #6F6E5C;">Action /3</div></b>
</div>
<div class="underMenu">
  <div class="button" (click)="undoClicked()">Annuler</div>
  <div class="button" (click)="redoClicked()">Rétablir</div>
</div>
<div class="button" (click)="onQuitClicked()">Quitter</div>
