<div class="menu">
  <img src="https://zupimages.net/viewer.php?id=19/49/90pz.png"
       height="232"
       width="546"
       alt="[Diaballik]"
  />
  <div class="underMenu">
    <b><div style = "text-align: justify; font-family : Courier, monospace; font-size : 35px; color: #6F6E5C;">Tour {{data.game.turnCount}}</div></b>
    <div class="button" style="border: 0; background-color: currentColor"><img src = "https://zupimages.net/viewer.php?id=19/49/o81l.png"></div>
  </div>
  <b><div style = "text-align: justify; font-family : Courier, monospace; font-size : 35px; color: #6F6E5C;">{{data.game.currentPlayer - 1 ? data.game.player2.name : data.game.player1.name}}</div></b>
  <b><div style = "text-align: justify; font-family : Courier, monospace; font-size : 35px; color: #6F6E5C;">Action /3</div></b>
</div>
<div class="underMenu">
  <div class="button">Annuler</div>
  <div class="button">Rétablir</div>
</div>
<div class="button" style="">Quitter</div>
